<a href="https://colab.research.google.com/github/hsym-uec/2023-Simple-StockData/blob/main/my_Simmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# SoftBank Stock data from Stooq.com 
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-01'
end = '2023-04-18'
df = data.DataReader('9984.JP', 'stooq', start, end)

In [ ]:
df

            Open  High   Low  Close    Volume
Date
2023-04-18  5150  5214  5148   5186   6534000
2023-04-17  5120  5178  5120   5173   6198700
2023-04-14  5228  5229  5091   5120  11312800
2023-04-13  5145  5273  5121   5128  10389800
2023-04-12  5223  5311  5171   5178   9752200
2023-04-11  5139  5155  5102   5102   6772200
2023-04-10  5189  5190  5084   5100   7831400
2023-04-07  5230  5257  5146   5169   7031900
2023-04-06  5189  5245  5147   5228   9276900
2023-04-05  5261  5315  5193   5213  10338500
2023-04-04  5210  5254  5168   5244   8109900
2023-04-03  5260  5278  5194   5218   9469300