<a href="https://colab.research.google.com/github/hsym-uec/2023-Simple-StockData/blob/main/mySimmple_Stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# SoftBank Stock data from Stooq.com 
# reference https://seanmemo.com/234/

from pandas_datareader import data
start = '2023-04-18'
end = '2023-04-25'
df = data.DataReader('9984.JP', 'stooq', start, end)

In [2]:
df

            Open  High   Low  Close   Volume
Date
2023-04-25  5039  5065  5018   5030  5705100
2023-04-24  5035  5119  5032   5054  8114700
2023-04-21  5025  5050  4975   4996  9374800
2023-04-20  5132  5141  5061   5094  8067900
2023-04-19  5190  5235  5139   5179  7132800
2023-04-18  5150  5214  5148   5186  6534000